/* navbar */
.navbar-nav .nav-item .active{
    border-left: 3px solid rgba(255, 255, 255, 0.027);
    padding-left: 35px;
}
.navbar-nav .nav-item {
    text-transform: uppercase;
    font-size: .9rem;
}
/* carousel hero */
.carousel-item {
    height: 450px;
}
.img-1 {
    background-image: url(../img/image1.jpg);
    background-size: cover;
}
.img-2 {
    background-image: url(../img/image2.jpg);
    background-size: cover;
}
.img-3 {
    background-image: url(../img/image3.jpg);
    background-size: cover;
}
/* ready started */
.img-4 {
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../img/lights.jpg);
    background-attachment: fixed;
}
.img-5 {
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/media.jpg);
    background-attachment: fixed;
}

/* About us */
.img-about-1 {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/lights.jpg);
    background-size:  cover;
    background-position: center;
}
.img-up img {
    margin-top: -55px;
}
.carousel-inner-2 {
    height: 100px !important;
}